{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Главная страница новостного портала DJSETUP{% endblock%}
{% block content %}
<div class="bloc bgc-white l-bloc" id="bloc-1">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<img class="img-responsive lazyload" 
						 src="{% static "img/lazyload-ph.png" %}" 
						 data-src="{% static "img/main_page_001.png" %}" />
				</div>
			</div>
		</div>
	</div>
<!-- bloc-20 -->
<div class="bloc bgc-white l-bloc" id="bloc-20">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<h1 class="mg-md text-center">
					НОВОСТИ
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- bloc-20 END -->

<!-- bloc-21 -->
{% for n in news %}
<a href="{% url "detail" n.id %}">
	<div class="bloc bg-lines-dl2-bg bg-repeat l-bloc ">
		<div class="container bloc-sm">
			<div class="row animSpeedFast">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<h2 class="mg-sm tittle"><strong>{{n.tittle}}</strong></h2>
					<div class="row smallhead">
						<div class="col-sm-12">
							<div class="row bighead">
								<div class="col-sm-5">
									<h4 class="mg-sm text-left">{{n.date|date:"d E Y"|upper}}| Автор: {{n.author.username}}</h4>
								</div>
								<div class="col-sm-3">
									<div class="row">
										<div class="col-sm-3">
											<span class="ion ion-eye icon-md"></span>
										</div>
										<div class="col-sm-4">
											<p class="eye">{{n.score}}</p>
										</div>
									</div>
								</div>
								<div class="col-sm-4"><h4 class="mg-sm text-right">{{n.tags}}</h4></div>
							</div>
						</div>
					</div>
					{% if n.image %}
					<img src="{{n.image.url}}" class="img-responsive mg-sm img-main" />
					{% else %}
						<img src="{% static "img/logo2.png" %}"
							 class="img-responsive mg-sm img-main"/>
					{% endif %}
					<p class="mg-md ">{{n.description}}<br></p>
					<a href="{% url "detail" n.id %}" 
					   class="btn btn-rd button btn-clean pull-left animSpeedFast ">ПОДРОБНЕЕ</a>
				</div>
			</div>
		</div>
	</div>
</a>
<!-- bloc-21 END -->
{% endfor %}
<div class="text-center">
		<ul class="pagination text-center">
			{% if news.has_previous %}
		    	<li><a href="?page={{ news.previous_page_number }}">&laquo;</a></li>
		    {% else %}
		    	<li class="disabled"><span>&laquo;</span></li>
		    {% endif %}
		    {% for i in news.paginator.page_range %}
		    	{% if news.number == i %}
		        	<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
		      	{% else %}
		        	<li><a href="?page={{ i }}">{{ i }}</a></li>
		      	{% endif %}
		    {% endfor %}
		    {% if news.has_next %}
		    	<li><a href="?page={{ news.next_page_number }}">&raquo;</a></li>
		    {% else %}
		    	<li class="disabled"><span>&raquo;</span></li>
		    {% endif %}
		</ul>
	</div>
{% endblock %}
