{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Страница со списком новостей портала DJSETUP{% endblock%}
{% block content %}
	<div class=" bg-lines-dl2-bg bg-repeat l-bloc ">
		<div class="container">
			<div class="bloc bgc-white l-bloc" id="bloc-10">
				<div class="container bloc-sm">
					<div class="row">
						<div class="col-sm-12">
							<div class="row">
							{% for n in news %}
								<a href="{% url "detail" n.id %}">
								<div class="col-xs-12 col-sm-6 col-md-6 news">
									<h2 class="mg-sm tittle"><strong>{{n.tittle}}</strong></h2>
									<div class="row">
										<div class="col-sm-12">
											<div class="row newshead">
												<div class="col-sm-9">
													<h3 class="mg-sm text-left">{{n.date|date:"d E Y"|upper}}| Автор: {{n.author.username}}</h3>
												</div>
												<div class="col-sm-3">
													<div class="row">
														<div class="col-sm-6">
															<span class="ion ion-eye icon-md pull-right"></span>
														</div>
														<div class="col-sm-6">
															<p class="eye">{{n.score}}</p>
														</div>
													</div>
												</div>												
											</div>
											<div class="row newshead">
												<div class="col-sm-12">
													<h3 class="mg-sm text-left">{{n.tags}}</h3>
												</div>	
											</div>											
										</div>
									</div>
									
										{% if n.image %}
											<img src="{{n.image.url}}" class="img-responsive mg-sm img-main" />
										{% else %}
											<img src="{% static "img/logo2.png" %}"
												 class="img-responsive mg-sm stat-img img-main"/>
										{% endif %}
									</a>
									<p class="newsdesc">{{n.description}}</p>
									<a href="{% url "detail" n.id %}"
								   	   class="btn btn-d button btn-rd">Подробнее</a>
								</div>
							{% endfor %}							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center">
		<ul class="pagination text-center">
			{% if news.has_previous %}
		    	<li><a href="?page={{ news.previous_page_number }}">&laquo;</a></li>
		    {% else %}
		    	<li class="disabled"><span>&laquo;</span></li>
		    {% endif %}
		    {% for i in news.paginator.page_range %}
		    	{% if news.number == i %}
		        	<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
		      	{% else %}
		        	<li><a href="?page={{ i }}">{{ i }}</a></li>
		      	{% endif %}
		    {% endfor %}
		    {% if news.has_next %}
		    	<li><a href="?page={{ news.next_page_number }}">&raquo;</a></li>
		    {% else %}
		    	<li class="disabled"><span>&raquo;</span></li>
		    {% endif %}
		</ul>
	</div>
{% endblock %}