{% extends "base.html" %}
{% load static from staticfiles %}
{% block externalcss %}
	<link rel="stylesheet" type="text/css" href="{% static "css/lightbox.css" %}">
{% endblock%}
{% block title %}{{news.tittle}} - DJSETUP{% endblock%}
{% block content %}
<div class="bloc bg-lines-dl2-bg bg-repeat l-bloc ">
		<div class="container bloc-sm">
			<div class="row animSpeedFast">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<h2 class="text-center mg-lg"><strong>{{news.tittle}}</strong></h2>
					<div class="row">
						<div class="col-sm-12">
							<div class="row detbighead">
								<div class="col-sm-6 col-xs-6">
									<h4 class="mg-sm text-left">{{news.date|date:"d E Y"|upper}}</h4>
								</div>
								<div class="col-sm-6 col-xs-6">
									<h4 class="mg-sm text-left">| Автор: Paper_JAM</h4>
								</div>
							</div>
						</div>
					</div>
					{% if news.image %}
					<img src="{{news.image.url}}" class="img-responsive mg-sm" />
					{% else %}
						<img src="{% static "img/logo2.png" %}"
							 class="img-responsive mg-sm"/>
					{% endif %}
					<p class=" mg-lg">{{news.text|safe}}</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block externalscrypt %}
	<script src="{% static "js/lightbox.js" %}" defer></script>
{% endblock%}