{% extends "base.html" %}
{% load static from staticfiles %}
{% block externalcss %}
	<link rel="stylesheet" type="text/css" href="{% static "css/lightbox.css" %}">
{% endblock%}
{% block title %}News - DJSETUP{% endblock%}
{% block content %}
	<div class="bloc bgc-white l-bloc " id="bloc-19">
		<div class="container bloc-sm">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<h2 class="text-center mg-lg">{{news.tittle}}</h2>
					{% if news.image %}
						<img src="{{news.image.url}}"
							 class="img-responsive lazyload" />				 
					{% else %}
						<img src="{% static "img/logo.png" %}"
							 class="img-responsive lazyload" />		
					{% endif %}
					<div class="row">
						<div class="col-sm-6">
							<h4 class="mg-lg">{{news.tags}}</h4>
						</div>
						<div class="col-sm-6">
							<h4 class="mg-sm text-right">{{news.date}}</h4>
						</div>
					</div>
					<p class=" mg-lg">{{news.text|safe}}</p>							
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block externalscrypt %}
	<script src="{% static "js/lightbox.js" %}" defer></script>
{% endblock%}